@using Microsoft.AspNet.Identity
@model iKnow.ViewModels.QuestionDetailViewModel

@Html.Action("GetAnswerPanelHeader", "Answer", new { id = User.Identity.GetUserId() })
@using (@Html.BeginForm("Save", "Answer")) {
    <div class="rich-editor">
        @Html.TextAreaFor(m => m.AnswerPanelContent, new { @class = "rich-editor-inner", placeholder = "Write your answer here..." })
        <div class="rich-editor-footer">
            @if (Model.CanUserDeleteAnswerPanelAnswer) {
                <button type="submit" formaction=@Url.Action("Delete", "Answer") class="btn btn-delete js-button-delete" data-delete-message="Are you sure you want to delete this answer?">Delete</button>
            }
            <button type="submit" class="btn align-right">Submit Answer</button>
        </div>
    </div>

    @Html.HiddenFor(m => m.UserAnswerId)
    @Html.HiddenFor(m => m.Question.Id)
    @Html.AntiForgeryToken()
}
