@model IEnumerable<iKnow.Core.Models.Comment>

@foreach (var comment in Model)
{
    <div class="divided-section">
        <div class="comment-item-header">
            <div class="img-container">
                <a href="@comment.AppUser.ProfilePageUrl">
                    <img src=@comment.AppUser.IconPath />
                </a>
            </div>
            <a href="@comment.AppUser.ProfilePageUrl">
                @comment.AppUser.FullName
            </a>
            <div class="comment-date">
                @comment.CreatedDate.ToString("MMM d")
            </div>
        </div>

        <div class="comment-content">@comment.Content</div>
    </div>
}