@model iKnow.Core.Models.Answer
@{
    var totalComment = Model.CommentCount > 0 ? $"{Model.CommentCount} Comment(s)" : "Add Comment";
}

<div class="answer-footer">
    @if (Model.UpdatedDate == null)
    {
        <span>Answered @Model.CreatedDate.ToString("MMM d, yyyy")</span>
    }
    else
    {
        <span>Updated @Model.UpdatedDate.Value.ToString("MMM d, yyyy")</span>
    }

    @if (User.Identity.IsAuthenticated)
    {
        <div class="answer-footer-bar" data-answer-id="@Model.Id">
            <span class="like-button">
                <i class="fa fa-caret-up"></i>
                <span class="like-button-text" data-like-count>Like</span>
            </span>
            <span class="comment-button">
                <i class="fa fa-comment"></i>
                <span class="comment-button-text" data-total-count="@Model.CommentCount">@totalComment</span>
            </span>
            <a class="collapse-answer">
                <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                Collapse
            </a>
        </div>
    }

    <div class="answer-comment hide" data-answer-id="@Model.Id">
        <div class="comment-container">
            <div class="comment-header">
                <div>
                    <strong>@totalComment</strong>
                </div>
            </div>
            <div class="comment-list-container">
                <div class="comment-list">
                </div>
                <div class="comment-loading">
                    <i class="fa fa-spinner fa-pulse fa-fw"></i>
                </div>
            </div>
            <div class="write-comment">
                <textarea rows="1" placeholder="Write your comment here..."></textarea>
                <button class="btn" data-answer-id="@Model.Id">Comment</button>
            </div>
        </div>
    </div>
</div>

