@model iKnow.Models.Answer

@Html.Action("GetAnswerPanelHeader", "Answer")
<div class="answer-panel-content">
    <div class="answer-panel-content-inner">@Html.Raw(Model.Content)</div>
    <div class="answer-footer">
        @if (Model.UpdatedDate == null) {
            <span>Answered @Model.CreatedDate.ToString("MMM d, yyyy")</span>
        } else {
            <span>Updated @Model.UpdatedDate.Value.ToString("MMM d, yyyy")</span>
        }
    </div>
    @Html.Action("EditIcon", "Answer", new { id = Model.Id })
</div>
