@using iKnow.Models
@using iKnow.ViewModels
@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100,200,300,400,500,600,700" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <title>@ViewBag.Title - iKnow</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar box-shadow">
        <div class="content-container">
            @Html.Partial("_NavbarPartial")
        </div>
    </div>
    <div class="main">
        <div class="content-container">
            @RenderBody()
        </div>
    </div>
    @RenderSection("footer", required: false)

    <div class="modal-container">
    </div>
    
    <div class="warning"></div>

    <script>
        // iknow global variable
        var iknow = {};
        iknow.isUserAuthorized = "@(HttpContext.Current.User.Identity.IsAuthenticated)" === "True" ? true : false;
        iknow.userId = "@(HttpContext.Current.User?.Identity?.GetUserId()??"")";
    </script>

    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)

</body>
</html>
