<span class="logo">@Html.ActionLink("iKnow", "Index", "Home")</span>
@using (Html.BeginForm("SearchFullResult", "Search", FormMethod.Get, new {@class="search-form"}))
{
    <div class="search-container">
        <input class="search" autocomplete="off" type="text" name="search" placeholder="Search iKnow" />
        <button type="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
        <div class="search-result-container"></div>
    </div>
}
<ul class="navbar-nav">
    <li class="@(ViewBag.CurrentPage == "Home" ? "active" : "")">@Html.ActionLink("Home", "Index", "Home")</li>
    <!--
    -->
    <li class="@(ViewBag.CurrentPage == "Topic" ? "active" : "")">@Html.ActionLink("Topics", "Index", "Topic")</li>
    <!--
    -->
    <li class="@(ViewBag.CurrentPage == "Answer" ? "active" : "")">@Html.ActionLink("Answer", "Index", "Answer")</li>
    <!--
    -->
    <li><button class="add-question-button btn">Add Question</button></li>
</ul>
<div class="navbar-user">
    @Html.Action("GetUserProfile", "Home")
</div>