@using iKnow.ViewModels
@model QuestionDetailViewModel
<div class="question-header-panel panel">
    <ul>
        @foreach (var topic in Model.Question.Topics) {
            <li>@Html.ActionLink(@topic.Name, "Detail", "Topic", new { id = @topic.Id }, null)</li>
        }
    </ul>
    @if (Model.CanUserEdit) {
        <span class="js-edit-topic trigger-edit text-link" data-question-id="@Model.Question.Id">
            <i class="fa fa-pencil" aria-hidden="true"></i>edit
        </span>
    }
    <h2>
        @Model.Question.Title
        @if (Model.CanUserEdit) {
            <span class="js-edit-question trigger-edit text-link" data-question-id="@Model.Question.Id">
                <i class="fa fa-pencil" aria-hidden="true"></i>edit
            </span>
        }
    </h2>
    <p>@Model.Question.Description</p>
    @if (Model.UserAnswerId > 0) {
        <a class="view-answer btn-white" href=@Url.Action("Detail", "Answer", new { id = Model.UserAnswerId })>
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
            View Answer
        </a>
    } else {
        <button class="write-answer btn-white">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Write Answer
        </button>
    }
</div>
