@using iKnow.Models
@model IDictionary<Question, Answer>

@foreach (var questionAnswer in Model) {
    <div class="question-answer-inner">
        <div class="question-answer-pair-container">
            @if (questionAnswer.Key.Topics != null && questionAnswer.Key.Topics.Count > 0) {
                <span class="question-answer-topic">
                    Topic &middot;
                    @Html.ActionLink(questionAnswer.Key.Topics.First().Name, "Detail", "Topic", new { id = questionAnswer.Key.Topics.First().Id }, null)
                </span>
            }

            <h3 class="question-answer-name">@Html.ActionLink(questionAnswer.Key.Title, "Detail", "Question", new { id = questionAnswer.Key.Id }, new { target = "_blank" }) </h3>
            <div class="question-author">
                <span class="img-container">
                    <a href="@questionAnswer.Key.AppUser.ProfilePageUrl" target="_blank">
                        <img src="@questionAnswer.Key.AppUser.IconPath" />
                    </a>
                </span>
                <span class="user-info">
                    <a href="@questionAnswer.Key.AppUser.ProfilePageUrl" target="_blank">
                        <b>@questionAnswer.Key.AppUser.FullName</b>
                    </a>
                    <span class="user-intro">@(!string.IsNullOrEmpty(questionAnswer.Key.AppUser.Intro) ? ", " + questionAnswer.Key.AppUser.Intro : "")</span>
                </span>
            </div>
            <div class="short-answer-container">
                <div class="question-answer-content">
                    @if (questionAnswer.Value.ShortContentImageData != null) {
                        <div class="img-container">
                            @Html.Raw(questionAnswer.Value.ShortContentImageData)
                        </div>
                    }
                    <div class="question-answer-content-text">
                        @Html.Raw(questionAnswer.Value.ShortContent)
                        <span class="blue-link-color"> (more)</span>
                    </div>
                </div>
            </div>
            <div class="expanded-answer-container hide">
                <div class="question-answer-content answer-content">
                    <div class="question-answer-content-text">
                        @Html.Raw(questionAnswer.Value.Content)
                    </div>
                    <div class="answer-footer">
                        @if (questionAnswer.Value.UpdatedDate == null) {
                            <span>Answered @questionAnswer.Value.CreatedDate.ToString("MMM d, yyyy")</span>
                        }
                        else {
                            <span>Updated @questionAnswer.Value.UpdatedDate.Value.ToString("MMM d, yyyy")</span>
                        }
                        <a class="collapse-answer">
                            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                            Collapse
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
