@model iKnow.ViewModels.AnswerDetailViewModel
@{
    ViewBag.Title = "Detail";
}

<style>
    body {
        background-color: #f3f3f3;
    }
</style>

<div class="answer-container-inner">
    @Html.Partial("_QuestionHeaderPartial", Model.Question)
    <div class="main-content-container">
        <div class="answer-panel-container">
            <div class="view-all-answers panel">@Html.ActionLink("View all " + Model.AnswerCount + " answer(s)", "Detail", "Question", new { id = Model.Question.Id }, new { @class = "text-link" })</div>
            <div class="answer-panel panel">
                @Html.Partial("_AnswerPanelHeaderPartial")
                <div class="answer-panel-content">
                    @Html.Raw(Model.Answer.Content)
                    <div class="answer-footer">
                        Answered @Model.Answer.CreatedDate.ToString("MMM d, yyyy")
                    </div>
                </div>
            </div>
            <div class="view-all-answers panel">@Html.ActionLink("View all " + Model.AnswerCount + "answer(s)", "Detail", "Question", new { id = Model.Question.Id }, new { @class = "text-link" })</div>
        </div>
    </div>

    <div class="sidebar answer-sidebar"></div>
</div>
