@using iKnow.Models
@model Topic

<a href=@Url.Action("Detail", "Topic", new { id = Model.Id }) target="_blank">
    <h4>@Model.Name</h4>
</a>
@Html.ActionLink("Enter Topic", "Detail", "Topic", new { id = Model.Id }, new { @class = "enter-topic btn", target = "_blank" })

<div class="topic-about">
    <div class="img-container">
        <a href=@Url.Action("Detail", "Topic", new {id = Model.Id}) target="_blank">
            <img src="@Model.IconPath" />
        </a>
    </div>
    <p>
        @Model.Description
    </p>
</div>

@if (User.IsInRole(Constants.AdminRoleName)) {
    @Html.ActionLink("+Add Topic", "Add", "Topic", null, new { @class = "add-topic" })
    @Html.ActionLink("Edit Topic", "Edit", "Topic", new { id = Model.Id }, new { @class = "btn  btn-func" })
}