@using iKnow.Models
@model Topic

<h4>About</h4>
@Html.ActionLink("Enter Topic", "Detail", "Topic", new { id = Model.Id }, new { @class = "enter-topic btn" })

<div class="topic-about">
    <img src="@Model.IconPath" />
    <p>
        @Model.Description
    </p>
</div>

@Html.ActionLink("+Add Topic", "Add", "Topic", null, new { @class = "add-topic" })
@Html.ActionLink("Edit Topic", "Edit", "Topic", new { id = Model.Id }, new { @class = "btn  btn-func" })
