@model iKnow.ViewModels.TopicDetailViewModel
@{
    ViewBag.Title = "Detail";
    ViewBag.ShowFooter = true;
}

<div class="topic-detail-container main-content-container">
    <div class="content-header">
        <img src="@Model.Topic.IconPath" class="topic-icon" />
        <h2>
            @Model.Topic.Name
        </h2>
    </div>

    <div class="topic-detail-inner">
        @foreach (var questionAnswer in Model.QuestionAnswers) {
            <div class="divided-section">
                <h3 class="question-answer-name">@Html.ActionLink(questionAnswer.Key.Title, "Detail", "Question", new { id = questionAnswer.Key.Id }, new { target = "_blank" }) </h3>
                <div class="question-author">@questionAnswer.Key.User.LoginName @*TODO add intro*@</div>
                <div class="short-answer-container">
                    <div class="question-answer-content">
                        @Html.Raw(questionAnswer.Value.ShortContext)
                        <span class="showFullAnswer">(more)</span>
                    </div>
                </div>
                <div class="expaneded-answer-container hide">
                    <div class="question-answer-content answer-content">
                        @Html.Raw(questionAnswer.Value.Content)
                        <div class="answer-footer">
                            Answered @questionAnswer.Value.CreatedDate.ToString("MMM d, yyyy")
                            <a class="collapse-answer">
                                <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                                Collapse
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="sidebar">
    <div class="sidebar-section divided-section">
        <h3 class="sidebar-title">About</h3>
        <p>@Model.Topic.Description</p>
    </div>
</div>

@section footer {
    <div class="footer content-container">
        &copy;@(DateTime.Now.Year + " iKnow")
    </div>
}