@model iKnow.ViewModels.TopicDetailViewModel
@{
    ViewBag.Title = "Detail";
}

<div class="topic-detail-container main-content-container">
    <div class="content-header">
        <img src="@Model.Topic.IconPath" class="topic-icon" />
        <h2>
            @Model.Topic.Name
        </h2>
    </div>

    <div class="topic-detail-inner">
        @foreach(var questionAnswer in Model.QuestionAnswers) {
            <h4>@questionAnswer.Key.Title</h4>
            <div class="question-author">@questionAnswer.Key.User.LoginName @*TODO add intro*@</div>
            <div class="question-answer-content">@Html.Raw(questionAnswer.Value.Content)</div>
        }
    </div>
</div>

<div class="sidebar">
    <div class="sidebar-section divided-section">
        <h3 class="sidebar-title">About</h3>
        <p>@Model.Topic.Description</p>
    </div>
</div>