@model iKnow.Core.ViewModels.TopicDetailViewModel
@{
    ViewBag.Title = "Topic Detail";
    ViewBag.ShowFooter = true;
}

<div class="topic-detail-container main-content-container">
    <div class="content-header">
        <div class="img-container">
            <img src="@Model.Topic.IconPath" class="topic-icon" />
        </div>
        <h2>
            @Model.Topic.Name
        </h2>
    </div>


    @if (Model.QuestionAnswers.Any()) {
        <div class="topic-detail-inner question-answer-container">
            @Html.Partial("_QuestionAnswerPairPartial", Model.QuestionAnswers)
        </div>
    }
    else {
        <div class="topic-empty-container">
            <i class="fa fa-frown-o fa-4x" aria-hidden="true"></i>
            No questions under this topic yet.
        </div>
    }
</div>

<div class="sidebar">
    @if (!string.IsNullOrEmpty(Model.Topic.Description)) {
        <div class="sidebar-section topic-description-sidebar divided-section">
            <h3 class="sidebar-title">About</h3>
            <p>@Model.Topic.Description</p>
        </div>
    }
    <div class="topic-sidebar sidebar-section divided-section">
        @Html.Action("GetRecommentedTopics", "Topic", new { id = Model.Topic.Id })
    </div>
    <div class="sidebar-section divided-section">
        @Html.Partial("_SideBarSiteInfoPartial")
    </div>
</div>
