@model iKnow.Core.ViewModels.TopicIndexViewModel
@{
    ViewBag.Title = "Topics";
    ViewBag.CurrentPage = "Topic";
}

<div class="topic-container main-content-container">
    <div class="content-header">
        <h3>Topics</h3>
    </div>
    <ul class="topic-list">
        @foreach (var topic in Model.Topics) {
            <li data-topic-id="@topic.Id" class="@(Model.SelectedTopic.Id == topic.Id ? "active" : "")">@topic.Name</li>
        }
    </ul>
    @if (Model.SelectedTopic != null) {
        <div class="topic-body">
            @Html.Partial("_TopicBodyPartial", Model.SelectedTopic)
        </div>
    }
</div>

<div class="sidebar">
    <div class="topic-sidebar  sidebar-section divided-section">
        @Html.Action("GetRecommendedTopics", "Topic")
    </div>
    <div class="sidebar-section divided-section">
        @Html.Partial("_SideBarSiteInfoPartial")
    </div>
</div>

@section scripts {
    <script>
        $(document)
            .ready(function () {
                TopicController.init();
            });
    </script>
}


