@model iKnow.Core.ViewModels.TopicFormViewModel

@{
    ViewBag.Title = "Topic Form";
}

<div class="topic-form-container">
    <h3 class="content-header">@(Model.Topic.Id == 0 ? "Add Topic" : "Edit Topic")</h3>
    <pre class="return-topic">@Html.ActionLink("Return to Topics  >  ", "Index", "Topic")</pre>

    @using (@Html.BeginForm("Save", "Topic", null, FormMethod.Post, new { enctype = "multipart/form-data" })) {
        @Html.ValidationSummary("", new { @class = "error" })
        <div class="form-group">
            @Html.LabelFor(m => m.Topic.Name)
            @Html.TextBoxFor(m => m.Topic.Name, new { @class = "form-control", placeholder = "Name" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Topic.Description)
            @Html.TextAreaFor(m => m.Topic.Description, 10, 50, new { @class = "form-control", placeholder = "Description" })
        </div>

        <div class="form-group">
            @Html.Label("Icon")
            <div class="img-container">
                <img src="@Model.Topic.IconPath" />
            </div>
            @Html.TextBoxFor(m => m.PostedFile, new { type = "file", @class = "js-topic-photo-upload" })
        </div>

        @Html.HiddenFor(m => m.Topic.Id)
        @Html.AntiForgeryToken()

        <div class="form-group">
            <button type="submit" formaction=@Url.Action("Save", "Topic") class="btn btn-func align-right flex-order-2">Save</button>
            @if (Model.Topic.Id != 0) {
                <button type="submit" formaction=@Url.Action("Delete", "Topic") class="btn btn-func btn-delete flex-order-1 js-button-delete" data-delete-message="Are you sure you want to delete this topic?">Delete This Topic</button>
            }
        </div>
    }
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(".topic-form-container .js-button-delete").on("click", appController.deleteEntity);
        PhotoUploadController.init(".js-topic-photo-upload", ".topic-form-container .img-container img");
    </script>
}
