@model iKnow.Models.Topic

@{
    ViewBag.Title = "title";
}

<div class="add-topic-container">
    <h3 class="page-title">@(Model.Id == 0 ? "Add Topic" : "Edit Topic")</h3>
    <pre class="return-topic">@Html.ActionLink("Return to Topics  >  ", "Index", "Topic")</pre>

    @using (@Html.BeginForm()) {
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description, 10, 50, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Description)
        </div>

        @Html.HiddenFor(m => m.Id)
        @Html.AntiForgeryToken()
        <button type="submit" formaction=@Url.Action("Save", "Topic") class="btn btn-func">Save</button>
        if (Model.Id != 0) {
            <button type="submit" formaction=@Url.Action("Delete", "Topic") class="btn btn-delete js-button-delete">Delete</button>
        }
    }
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
