@model iKnow.ViewModels.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password";
}

<div class="password-container">
    <h3 class="content-header">@ViewBag.Title</h3>
    <div class="forgot-password-inner">
        @using (Html.BeginForm("ForgotPassword", "Account")) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "error" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
            </div>
            <div class="form-group">
                <button type="submit" class="btn">Send</button>
            </div>
        }
    </div>
</div>

@section footer {
    <div class="footer content-container">
        &copy;@(DateTime.Now.Year + " iKnow")
        &middot;
        <span>@Html.ActionLink("Contact us", "Contact", "Home", null, new { @class = "text-link" })</span>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
