@using System.Web.UI.WebControls
@using iKnow.ViewModels
@model QuestionFormViewModel


<div class="modal-inner">
    @using (@Html.BeginForm("Save", "Question")) {
        <h2>@Model.FormTitle</h2>
        <p>Keep your question concise to quickly get a good answer</p>
        @Html.TextAreaFor(m => m.Question.Title, new { @class = "form-control add-question-title", placeholder = "Question title" })
        @Html.ValidationMessageFor(m => m.Question.Title, "", new { @class = "error" })

        <div class="form-group">
            @Html.ListBoxFor(m => m.TopicIds, Model.Topics, new { @class = "topic-select", data_placeholder = "Add Topics" })
        </div>
        <div class="add-question-description">
            <p>Question Description (Optional):</p>
            @Html.TextAreaFor(m => m.Question.Description, new { @class = "form-control", placeholder = "Question background, conditions and other details" })
        </div>

        @Html.HiddenFor(m => m.Question.Id)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-func">Submit Question</button>
    }

</div>


@Scripts.Render("~/bundles/jqueryval")