@model iKnow.Core.ViewModels.QuestionDetailViewModel
@{
    ViewBag.Title = "Question Detail";
}

<style>
    body {
        background-color: #f3f3f3;
    }
</style>

<div class="question-container-inner">
    @Html.Partial("_QuestionHeaderPartial", Model)
    <div class="question-detail-container">
        <div class="main-content-container">
            <div class="add-answer-panel answer-content panel hide">
                @if (User.Identity.IsAuthenticated) {
                    @Html.Partial("_AddAnswerPanelPartial", Model)
                }
            </div>

            @if (Model.Question.Answers.Any()) {
                <div class="whole-panel panel">
                    <div class="panel-title answer-panel">
                        @(Model.Question.Answers.Count() + " Answer(s)")
                    </div>
                    @foreach (var answer in Model.Question.Answers) {
                        <div class="answer-panel answer-content divided-section">
                            @Html.Partial("_AnswerPanelPartial", answer)
                        </div>
                    }
                </div>
                if (Model.UserAnswerId > 0) {
                    <div class="question-content-footer panel">
                        <a class="view-answer" href=@Url.Action("Detail", "Answer", new { id = Model.UserAnswerId })>
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            View Answer
                        </a>
                    </div>
                } else {
                    <div class="question-content-footer panel">
                        <a class="write-answer">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            Write Answer
                        </a>
                    </div>
                }
            } else {
                <div class="empty-content-panel panel">
                    <i class="fa fa-edit fa-4x" aria-hidden="true"></i>
                    <div>
                        No answers yet. Start to
                        <a class="write-answer">
                            write answer here
                        </a>
                    </div>
                </div>
            }
        </div>

        <div class="sidebar panel-sidebar">
            <div class="panel">
                @Html.Action("GetRelatedQuestions", "Question", new { id = Model.Question.Id })
            </div>
            @Html.Partial("_SideBarSiteInfoPartial")
        </div>
    </div>
</div>

@section styles {
    <link rel="stylesheet" href="~/Content/quill.snow.css" />
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="/Scripts/quill.min.js"></script>

    <script>
        $(document)
            .ready(function () {
                QuestionController.init();
            });
    </script>
}