@using iKnow.ViewModels
@model QuestionDetailViewModel
@{
    ViewBag.Title = "Detail";
}

<style>
    body {
        background-color: #f3f3f3;
    }
</style>

<div class="question-container-inner">
    @Html.Partial("_QuestionHeaderPartial", Model.Question)
    <div class="main-content-container">
        <div class="add-answer-panel panel hide">
            @Html.Partial("_AnswerPanelHeaderPartial")
            @using (@Html.BeginForm("Save", "Answer")) {
                <div class="rich-editor">
                    @Html.TextAreaFor(m => m.AnswerContent, new { @class = "rich-editor-inner", placeholder = "Write your answer here..." })
                    <div class="rich-editor-footer">
                        <button type="submit" class="btn">Submit Answer</button>
                    </div>
                </div>

                @Html.HiddenFor(m => m.Question.Id)
                @Html.AntiForgeryToken()
            }
        </div>
    </div>

    <div class="sidebar question-sidebar"></div>
</div>

@section styles {
    <link rel="stylesheet" href="~/Content/trumbowyg.min.css" />
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/trumbowyg")
    <script>
        $(".rich-editor-inner").trumbowyg({
            svgPath: "/Content/icons.svg",
            autogrow: true,
            btns: [
                ['strong', 'em'],
                ['h3', 'blockquote', 'unorderedList', 'orderedList'],
                ['link', 'base64', 'horizontalRule'],
                ['removeformat'],
                ['fullscreen']
            ]
        });
    </script>
}