@model iKnow.Models.Question
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: #f3f3f3;
    }
</style>

<div class="question-header-panel box-shadow">
    <ul>
        @foreach (var topic in Model.Topics) {
            <li>@Html.ActionLink(@topic.Name, "Detail", "Topic", new { id = @topic.Id }, null)</li>
        }
    </ul>
    <h2>
        @Model.Title
        <span class="trigger-edit" data-question-id="@Model.Id">
            <i class="fa fa-pencil" aria-hidden="true"></i>edit
        </span>
    </h2>
    <p>@Model.Description</p>
    <button class="btn-white">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        Write Answer
    </button>
</div>