@using iKnow.Core.ViewModels
@model SearchFullResultViewModel
@{
    Layout = "~/Views/Search/_LayoutSearchResult.cshtml";
}

@if (Model.User != null || Model.Topic != null)
{
    <div class="search-user-topic-panel panel">
        @if (Model.User != null)
        {
            <div>
                <div>@Html.Partial("~/Views/Shared/Components/AnswerPanelHeader/Default.cshtml", Model.User)</div>
                <a class="search-view-more"
                   href="@Url.Action("SearchFullResult", "Search", new { search = Model.Search, type = nameof(Model.User) })">
                    View More <b>@(nameof(Model.User))</b> Search Results >
                </a>
            </div>
        }
        @if (Model.Topic != null)
        {
            <div>
                <div>@Html.Partial("_TopicInfoPartial", Model.Topic)</div>
                <a class="search-view-more"
                   href="@Url.Action("SearchFullResult", "Search", new { search = Model.Search, type = nameof(Model.Topic) })">
                    View More <b>@(nameof(Model.Topic))</b> Search Results >
                </a>
            </div>
        }
    </div>
}
@if (Model.QuestionAnswers != null && Model.QuestionAnswers.Any())
{
    <div class="search-question-answer-panel panel">
        <div class="search-question-answer-container question-answer-container load-more-list">
            @Html.Partial("_QuestionAnswerPairPartial", Model.QuestionAnswers)
        </div>
        @Html.Partial("_LoadMorePartial")
    </div>
}

@section scripts {
    <script>
        $(document).ready(function () {
            AnswerController.init();
            LoadMoreController.init("search", "?search=" + "@Model.Search" +
                "&type=" + "@(nameof(SearchFullResultViewModel.QuestionAnswers))");
        });
    </script>
}
